body {
    font-family: Arial, sans-serif;
    background-color: #f8f4e3;
    color: #333;
    margin: 0;
    padding: 0;
}

header {
    background-color: #09883a;
    color: white;
    text-align: center;
    padding: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header-content {
    display: flex;
    align-items: center;
    gap: 15px;
}

.logo {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

h1 {
    margin: 0;
    font-size: 36px;
}

p {
    font-size: 18px;
}

#menu {
    padding: 20px;
    max-width: 800px;
    margin: auto;
}

h2 {
    text-align: center;
    color: #d32f2f;
    font-size: 30px;
}

.menu-item {
    background-color: white;
    border-radius: 5px;
    padding: 15px;
    margin: 10px 0;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    gap: 15px;
}

.menu-item img {
    width: 100px;
    height: 100px;
    border-radius: 10px;
}

.menu-item p {
    margin: 0;
    flex: 1;
}

.menu-item h3 {
    margin: 0;
    color: #d32f2f;
}

.price {
    font-weight: bold;
    color: #d32f2f;
}

#qr-code {
    text-align: center;
    padding: 20px;
    background-color: #fff7e6;
    margin: 20px 0 50px 0;
}

.qr-content {
    display: inline-block;
    text-align: center;
    border: 2px solid #d32f2f;
    padding: 15px;
    border-radius: 10px;
}

.qr-image {
    width: 150px;
    height: 150px;
}

footer {
    background-color: #d32f2f;
    color: white;
    text-align: center;
    padding: 10px;
    position: fixed;
    width: 100%;
    bottom: 0;
}
